USE [Sinhvien08]
GO
/****** Object:  Table [dbo].[DANG_KY]    Script Date: 05/05/2021 10:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANG_KY](
	[MA_SV] [int] NOT NULL,
	[MA_LOP] [int] NOT NULL,
	[NGAY_DANG_KY] [datetime] NOT NULL,
	[DIEM_FINAL] [smallint] NULL,
 CONSTRAINT [DK_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC,
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MA_SV] [int] NOT NULL,
	[MA_LOP] [int] NOT NULL,
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[MA_DIEM_XAY_RA] [int] NOT NULL,
	[DIEM_BANG_SO] [smallint] NOT NULL,
	[CHU_THICH] [varchar](2000) NULL,
 CONSTRAINT [DI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC,
	[MA_LOP] ASC,
	[MA_KIEU_DIEM] ASC,
	[MA_DIEM_XAY_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM_CHUYEN_DOI]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM_CHUYEN_DOI](
	[DIEM_CHU] [varchar](2) NOT NULL,
	[DIEM_SO] [decimal](3, 2) NOT NULL,
	[DIEM_MAX] [smallint] NOT NULL,
	[DIEM_MIN] [smallint] NOT NULL,
 CONSTRAINT [DICD_PK] PRIMARY KEY CLUSTERED 
(
	[DIEM_CHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GV] [int] NOT NULL,
	[HO] [varchar](25) NULL,
	[TEN] [varchar](25) NULL,
	[DIA_CHI] [varchar](50) NULL,
	[MA_SO] [varchar](5) NULL,
	[DIEN_THOAI] [varchar](15) NULL,
 CONSTRAINT [GV_PK] PRIMARY KEY CLUSTERED 
(
	[MA_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEU_DIEM]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEU_DIEM](
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[MO_TA] [varchar](50) NOT NULL,
 CONSTRAINT [KIDI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MA_LOP] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[TEN_LOP] [smallint] NOT NULL,
	[NGAY_BAT_DAU] [datetime] NULL,
	[DIA_DIEM] [varchar](50) NULL,
	[MA_GV] [int] NOT NULL,
	[SO_SV] [smallint] NULL,
 CONSTRAINT [LOP_PK] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOP_MH_UK] UNIQUE NONCLUSTERED 
(
	[TEN_LOP] ASC,
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MH] [int] NOT NULL,
	[MO_TA] [varchar](50) NOT NULL,
	[HOC_PHI] [decimal](9, 2) NULL,
	[MON_DIEU_KIEN] [int] NULL,
 CONSTRAINT [MH_PK] PRIMARY KEY CLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[MA_SV] [int] NOT NULL,
	[HO] [varchar](25) NULL,
	[TEN] [varchar](25) NOT NULL,
	[DIA_CHI] [varchar](50) NULL,
	[MA_SO] [varchar](5) NOT NULL,
	[DIEN_THOAI] [varchar](15) NULL,
	[CO_QUAN] [varchar](50) NULL,
	[NGAY_VAO_SO] [datetime] NOT NULL,
 CONSTRAINT [SV_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRONG_SO_KIEU_DIEM]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRONG_SO_KIEU_DIEM](
	[MA_LOP] [int] NOT NULL,
	[MA_KIEU_DIEM] [char](2) NOT NULL,
	[SO_KIEU_DIEM] [smallint] NOT NULL,
	[PHAN_TRAM_TRONG_DIEM] [smallint] NOT NULL,
	[LOAI_THAP_NHAT] [char](1) NOT NULL,
 CONSTRAINT [TSKDI_PK] PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC,
	[MA_KIEU_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUNG]    Script Date: 05/05/2021 10:42:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUNG](
	[MA_SO] [varchar](5) NOT NULL,
	[HUYEN] [varchar](25) NULL,
	[TINH] [varchar](25) NULL,
 CONSTRAINT [VUNG_PK] PRIMARY KEY CLUSTERED 
(
	[MA_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DIEM_BANG_SO]
GO
ALTER TABLE [dbo].[DIEM_CHUYEN_DOI] ADD  DEFAULT ((0)) FOR [DIEM_SO]
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD  CONSTRAINT [DK_LOP_FK] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[DANG_KY] CHECK CONSTRAINT [DK_LOP_FK]
GO
ALTER TABLE [dbo].[DANG_KY]  WITH CHECK ADD  CONSTRAINT [DK_SV_FK] FOREIGN KEY([MA_SV])
REFERENCES [dbo].[SINH_VIEN] ([MA_SV])
GO
ALTER TABLE [dbo].[DANG_KY] CHECK CONSTRAINT [DK_SV_FK]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [DI_DITW_FK] FOREIGN KEY([MA_LOP], [MA_KIEU_DIEM])
REFERENCES [dbo].[TRONG_SO_KIEU_DIEM] ([MA_LOP], [MA_KIEU_DIEM])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [DI_DITW_FK]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [DI_DK_FK] FOREIGN KEY([MA_SV], [MA_LOP])
REFERENCES [dbo].[DANG_KY] ([MA_SV], [MA_LOP])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [DI_DK_FK]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [GV_MA_SO_FK] FOREIGN KEY([MA_SO])
REFERENCES [dbo].[VUNG] ([MA_SO])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [GV_MA_SO_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_GV_FK] FOREIGN KEY([MA_GV])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_GV_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_MON_FK] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MON_HOC] ([MA_MH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_MON_FK]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [MON_MON_FK] FOREIGN KEY([MON_DIEU_KIEN])
REFERENCES [dbo].[MON_HOC] ([MA_MH])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [MON_MON_FK]
GO
ALTER TABLE [dbo].[SINH_VIEN]  WITH CHECK ADD  CONSTRAINT [SV_MA_SO_FK] FOREIGN KEY([MA_SO])
REFERENCES [dbo].[VUNG] ([MA_SO])
GO
ALTER TABLE [dbo].[SINH_VIEN] CHECK CONSTRAINT [SV_MA_SO_FK]
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [DITW_DIKI_FK] FOREIGN KEY([MA_KIEU_DIEM])
REFERENCES [dbo].[KIEU_DIEM] ([MA_KIEU_DIEM])
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM] CHECK CONSTRAINT [DITW_DIKI_FK]
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [DITW_LOP_FK] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[TRONG_SO_KIEU_DIEM] CHECK CONSTRAINT [DITW_LOP_FK]
GO
ALTER TABLE [dbo].[KIEU_DIEM]  WITH CHECK ADD  CONSTRAINT [KIDI_MA_KIEU_DIEM_LEN] CHECK  ((len([MA_KIEU_DIEM])=(2)))
GO
ALTER TABLE [dbo].[KIEU_DIEM] CHECK CONSTRAINT [KIDI_MA_KIEU_DIEM_LEN]
GO
